
@{
    ViewBag.Title = "Index";
}

<h2 class="CenterElement">Admin Panel</h2>

<!-- Adding Partial Views-->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="CenterElement">Add/Edit Records</h3>
           @Html.Partial("~/Views/Partial/AddEditRecords.cshtml")
        </div>
        <div class="col-lg-6">
            <h3 class="CenterElement">Reports</h3>
           @Html.Partial("~/Views/Partial/Reports.cshtml")
        </div>
    </div>
</div>



