Transportation/.vs/config/applicationhost.config
Transportation/Transportation/bin/Transportation.dll
Transportation/Transportation/bin/Transportation.pdb
Transportation/Transportation/obj/Debug/Transportation.csprojResolveAssemblyReference.cache
Transportation/Transportation/obj/Debug/Transportation.pdb
Transportation/.vs/config/applicationhost.config
Transportation/.vs/config/applicationhost.config
Transportation/Transportation/bin/Transportation.pdb
Transportation/Transportation/obj/Debug/CoreCompileInputs.cache
Transportation/Transportation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache