@{
    ViewBag.Title = "Gas Card Sign Out";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is the Gas Card Sign out Page.</p>

<div class="form-group">
    <label for="FirstName">First Name</label>
    <input type="text" class="form-control" id="FirstName" aria-describedby="firstNameHelp" placeholder="Enter First Name">
</div>
<div class="form-group">
    <label for="LastName">Last Name</label>
    <input type="text" class="form-control" id="LastName" aria-describedby="lastNameHelp" placeholder="Enter Last Name">
</div>
<div class="form-group">
    <label for="departmentSelect">Department</label>
    <select class="form-control" id="departmentSelect">
        <option>Select One...</option>
        <option>Facilities</option>
        <option>Grounds</option>
        <option>Computer Services</option>
        <option>Admin</option>
        <option>Engrish</option>
    </select>
</div>

<div class="form-group">
    <label for="vehicleSelect">Vehicle #</label>
    <select class="form-control" id="vehicleSelect">
        <option>Select One...</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
    </select>
</div>
<div class="form-group">
    <label for="TOS">By Checking this box you agree to the TOS</label>
    <input type="checkbox" id="TOS" aria-describedby="TosHelp">
</div>

