@{
    ViewBag.Title = "Home Page";
}

<!--Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto|Source+Code+Pro" rel="stylesheet">
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../Content/MainStyles.css" />

<div class="ButtonContainer row">

    <h1>Gas Card Return or Checkout?</h1>
    <br />
    <div class="col-md-6">
        <a href="/Home/GasCardSignIn"><span class="glyphicon glyphicon-save JumboText"></span></a>
        <h1>Return</h1>
    </div>
    <div class="col-md-6">
        <a href="/Home/GasCardSignOut"><span class="glyphicon glyphicon-open JumboText"></span></a>
        <h1>Sign Out</h1>
    </div>
</div>


