@{
    ViewBag.Title = "Home Page";
}

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../Content/IndexStyles.css" />

<div class="ButtonContainer">

    <div class="btn-group CenterItems" role="group" aria-label="...">
        <a type="button" class="btn btn-default" href="/Home/SignOut"><span class="glyphicon glyphicon-road"></span></a>
        <a type="button" class="btn btn-default" href="/Home/SignIn"><span class="glyphicon glyphicon-credit-card"></span></a>
    </div>

</div>
