@{
    ViewBag.Title = "Vehicle Sign In/Out Choose";
}

<!--Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto|Source+Code+Pro" rel="stylesheet">
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../Content/MainStyles.css" />

<div class="ButtonContainer row">

    <h1>Vehicle</h1>
    <br />
    <div class="col-md-6">
        <a href="/Home/VehicleCheckout"><span class="glyphicon glyphicon-arrow-up LargeIcon"></span></a>
        <h1>Checkout</h1>
    </div>
    <div class="col-md-6">
        <a href="/Home/VehicleReturn"><span class="glyphicon glyphicon-arrow-down LargeIcon"></span></a>
        <h1>Return</h1>
    </div>
    <a type="button" class="btn btn-default" href="/Home/Index"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>


