@{
    ViewBag.Title = "Vehicle Sign In/Out Choose";
}

<!--Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto|Source+Code+Pro" rel="stylesheet">
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../Content/MainStyles.css" />

<div class="ButtonContainer row">

    <h1>Vehicle Checkout or Return?</h1>
    <br />
    <div class="col-md-6">
        <a href="/Home/VehicleSignOut"><span class="glyphicon glyphicon-open JumboText"></span></a>
        <h1>Checkout</h1>
    </div>
    <div class="col-md-6">
        <a href="/Home/VehicleSignIn"><span class="glyphicon glyphicon-save JumboText"></span></a>
        <h1>Return</h1>
    </div>
</div>


