@{
    ViewBag.Title = "Vehicles";
    ViewBag.Message = "Check in/out vehicles";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../Content/VehiclesStyles.css" />

<div class="jumbotron">

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span></button>
        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
    </div>

    

</div>
