
@{
    ViewBag.Title = "Index";
}

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../Content/MainStyles.css" />


<div class="ButtonContainer">
    <h1>Welcome to Voyager</h1>
    <div class="col-md-6">
        <a onclick="location.href='@Url.Action("SignOut", "Transportation")'"><span class="glyphicon glyphicon-open LargeIcon"></span></a>
        <h1>Checkout</h1>
    </div>
    <div class="col-md-6">
        <a onclick="location.href='@Url.Action("SignIn", "Transportation")'"><span class="glyphicon glyphicon-save LargeIcon"></span></a>
        <h1>Return</h1>
    </div>
</div>
