@model TransporationRequest

<tr id="row-@ViewBag.count">
    <th>
        @Html.TextBoxFor(m=> m.User.BannerId, new { @class="form-control" })
    </th>
    <th>
        @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
    </th>
    <th>
        @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
    </th>
    <th>
        <button class="btn btn-danger" onclick="deleteRow(@ViewBag.count)">Delete</button>
    </th>
</tr>