.LargeIcon {
    font-size: 20em;
}

.ButtonContainer {
    margin-top: 5em;
    text-align: center;
    margin-bottom: 3em;
}

.CenterElement{
    text-align:center;
}

body, h1 {
    font: sans-serif;
}

.align-right {
    float: right;
}

#Step2, #Step3, #Step4, #Step5 {
    display: none;
}

.btnSet1{
    display: block;
}

.btnSet2{
    display: block;
}

.btnSet3{
    display: block;
}

.btnSet4{
    display: block;
}

.btnSet5{
    display: block;
}

a:hover{
    text-decoration: none;
}

.disable {
    pointer-events: none;
    cursor: default;
}

.form-segment .row > input {
    width: 100%;
    height: 16px;
}

.step {

font-size:1em;
color:blue;

}
/*
.input-group {
    font-size: 13px;
}

.checkbox-label {
    width: 100%;
    text-align: center;
    line-height: 32px;
}

.glowing-border:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}*/